<div id="container">
  <div id="header">
    <h1> Allison Goldfarb </h1>
    <h4> <i class="fa fa-map-marker"></i> Los Angeles, CA </h4>
  </div>
    <div id="navigation">
      <ul id="navigation">
        <li>
          <a href="#about" class ="navigation_link" id="about_nav">About</a>
        </li>
        <li>
          <a href="#contact" class="navigation_link" id="contact_nav">Contact</a>
        </li>
      </ul>
    </div>
    <div id="about" class="detailBox caps">
      <p>Allison Goldfarb is a web developer living in Los Angeles.</p>
      <br>
      <p>She is interested in creating and designing across mediums: from web design and development, to painting, writing, and publishing. Allison graduated from Macalester College in 2015 with a B.A. in English Literature and Critical Theory.</p>
      <br>
      <p>See her Github for code samples, and her LinkedIn for work experience.</p>
      <i class="fa fa-github"></i> <a href="https://github.com/agoldfarb"> GitHub </a>
      <i class="fa fa-linkedin-square"></i> <a href= "https://www.linkedin.com/in/allisongoldfarb"> LinkedIn</a>
    </div>
    <div id="contact" class="detailBox">
      <p> <i class="fa fa-envelope-o"></i> <a href="mailto:allisonrgoldfarb@gmail.com?subject=hi"> Say hi. </a> </p>
    </div>
</div>