<div id="container">
  <div id="header">
    <h1> Allison Goldfarb </h1>
    <h4><a href="https://github.com/agoldfarb"> <i class="fa fa-github"></i> </a>
      <a href= "https://www.linkedin.com/in/allisongoldfarb"><i class="fa fa-linkedin-square"></i> </a><i class="fa fa-map-marker"></i> Los Angeles, CA </h4>
  </div>
    <div id="navigation">
      <ul id="navigation">
        <li>
          <a href="#about" class ="navigation_link" id="about">About</a>
        </li>
        <li>
          <a href="#contact" class="navigation_link" id="contact">Contact</a>
        </li>
      </ul>
    </div>
    <div id="about" class="detailBox">
      <p>Allison Goldfarb is a web developer living in Los Angeles.</p>
      <br>
      <p>She is interested in creating and designing across mediums: from web design and development, to painting, writing, and publishing. Allison graduated from Macalester College in 2015 with a B.A. in English Literature and Critical Theory.</p>
      <br>
      <p>See her Github for code samples, and her LinkedIn for work experience.</p>
    </div>
    <div id="contact" class="detailBox">
      <p> <a href="mailto:allisonrgoldfarb@gmail.com?subject=hi"><i class="fa fa-envelope-o"></i></a><a href="mailto:allisonrgoldfarb@gmail.com?subject=hi"> Say hi </a> </p>
    </div>
</div>