<h1> Allison Goldfarb </h1>
<h2> Rails developer in Los Angeles, CA </h2>
<br>
<br>
<br>
<a href="https://github.com/agoldfarb"> GitHub </a> / <a href= "https://www.linkedin.com/in/allisongoldfarb"> LinkedIn</a> / <a href = "documents/GoldfarbResumeLA.pdf"> Resume </a>
