@import "bootstrap-sprockets";
@import "bootstrap";

a:hover {
  color: pink;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
}